__pycache__
/target
/.venv
/venv
/.vscode/settings.json

*.pyd
*.so

# build files
/dist
/*.egg-info
/build

# version
/egui_states/version.py

/examples/states-server/states_server/core.pyi
/examples/states-server/states_server/states.py
/examples/states-server/src/states.rs
